@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title ="EmployeeDetails"</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a asp-action="index" , asp-controller="home">List</a>
            </li>
            <li>
                <a asp-action="create" , asp-controller="home">Create</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
