@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@using Praticeclass.Models
@model Praticeclass.Models.Employee

@{
    ViewBag.Title = "Create Employee";
}

<form asp-controller="home" asp-action="create" method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Department"></label>
        <select asp-for="Department"
                asp-items="Html.GetEnumSelectList<Dept>()"></select>
    </div>

    <div>
        <label asp-for="Photo"></label>
        <input  type= "file" asp-for="Photo">
        <span asp-validation-for="Photo"></span>
    </div>

    <button type="submit">Create</button>
</form>
